.swal2-container { z-index: 9999990 !important; }

* { font-family: 'BNazaninRegular', tahoma; }

body { margin: 0px; background: #2d2d2d; font-weight: 300; }
*:not(input,textarea) { -webkit-touch-callout: none; -webkit-user-select: none; outline: none; direction: rtl; }
* { font-family: 'BNazaninRegular', tahoma; box-sizing: border-box; font-style: normal; direction: rtl; }

.hidden { display: none; }

.left { float: right; }
.right { float: left; }.main-splash .thumb-container a
.clear { clear: both; height: 0px; }

.left-align { text-align: right; }
.right-align { text-align: left; }

.inline { display: inline-block; }
.center { text-align: center; }

.pointer { cursor: pointer; }
.medium { font-weight: 400; }
.bold { font-weight: 500; }
.fs20 { font-size: 20px; }

.m10 { margin: 10px; }
.m15 { margin: 15px; }
.m20 { margin: 20px; }

.mt2 { margin-top: 2px; }
.mt3 { margin-top: 3px; }
.mt5 { margin-top: 5px; }
.mt8 { margin-top: 8px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }

.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }

.ml5 { margin-right: 5px; }
.ml10 { margin-right: 10px; }
.ml15 { margin-right: 15px; }
.ml30 { margin-right: 30px; }

.p15 { padding: 15px; }
.p30 { padding: 30px; text-align: right;}

.ph15 { width: 100%; height: 15px; }
.ph25 { width: 100%; height: 25px; }

.pr10 { padding-right: 10px; padding-left: 10px; }
.pr15 { padding-right: 15px; padding-left: 15px; }
.pr20 { padding-right: 20px; padding-left: 20px; }

.w100 { width: 100%; }
.mw160 { min-width: 160px; }

.c-red { color: red !important; }
.c-green { color: #02b302 !important; }
.c-blue { color: blue !important; }
.c-gray { color: #383838 !important; }
.c-yellow { color: #ffe93b !important; }
.c-main { color: #2f3041 !important; }

.fs12 { font-size: 12px; }
.fs14 { font-size: 14px; }
.fs16 { font-size: 16px !important; }

.ts { text-shadow: 2px 2px #000000; }
.tdn { text-decoration: none; }

.text-content-page { line-height: 170%; }
.text-content-page p { line-height: 170%; }

.container { width: 100%; max-width: 1220px; }

.header { text-align: center; }

.header .head-top-place-holder { width: 100%; height: 56px; }
.header .head-top { position: absolute; top: 0px; right: 0px; z-index: 100; width: 100%; height: 56px; margin-bottom: 2px solid #000; background: #2f3041; -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75); -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75); box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75); }
.header .head-top .mini-icon { border: 1px solid #2f3041; padding: 5px; }
.header .head-top .mini-icon-yellow { border: 1px solid #ffe93b; padding: 5px; }

.header .head-bottom { width: 100%; height: 56px; background: #2f3041; border-bottom: 2px solid #ffe93b; }
.balance {color:#ffe93b;  text-align: center;}
.name{color:#fff;  text-align: center;}



.header .link { border-radius: 2px; background: #474747; display: inline-block; color: #fff; padding: 10px 30px 10px 30px; text-decoration: none; margin-top: 10px; font-weight: 400; }
.header .link:hover { background: #575757; }
.header .signup { background: #34495e !important;
color: #fff;
border-radius: 3px;
border: 1px solid #2c3e50;
background: #00b24f;
display: inline-block;

padding: 3px 1px 2px 6px;
text-decoration: none;
font-weight: 400;
float: left; }
.header .user-balance { background: initial !important; color: #ffe93b !important; padding: 10px !important; }
.header .user-name { background: initial !important; color: #fff !important; padding: 10px 0px !important; }
.header .user-balance:hover, .header .user-name:hover { color: #000 !important; }

.header .language-selector { direction: rtl; display: none; }
.header .language-box { position: absolute; background: #474747; direction: ltr; margin-top: 50px; left: 15px; min-width: 94px; border-radius: 2px; }
.header .language-box a { display: block; margin: 0px 5px 5px 5px; padding: 5px 15px 5px 15px; color: #000; text-decoration: none; font-weight: 400; font-size: 14px; background: #ffe93b; border-radius: 2px; }
.header .language-box a:hover { background: #2f3041; color: #fff; }
.header .language-box a:first-child { margin-top: 5px; }

.header .clock { min-width: 90px; font-weight: 500; color: #666; margin-top: 20px; font-size: 14px; }
.footer { width: 100%; background: #111; color: #fff; text-align: center; padding: 20px 0px 20px 0px; font-size: 14px; }
.footer-links { width: 100%; text-align: center; color: #fff; padding: 20px 0px 20px 0px; font-size: 14px; }
.footer-links .footer-link { display: block; text-decoration: none; color: #fff; margin-bottom: 4px; text-align: right; font-size: 12px; font-weight: 400; }
.footer-links .footer-link:hover { color: #999; }
.footer-links .footer-link::before { content: "\2022  "; }

.top-bar { margin-right: 20px; text-align: center; font-size: 0; white-space: nowrap; }
.top-bar a { text-align: center; text-decoration: none; color: #c2c2c2; font-size: 14px; font-weight: 300; display: inline-block; height: 56px; line-height: 56px; padding: 0px 20px 0px 20px; vertical-align:top; }
.top-bar a:hover, .top-bar .active { color: #000; background-color: #ffe93b; -webkit-transition: background-color 400ms linear; -ms-transition: background-color 400ms linear; transition: background-color 400ms linear; }


.main-splash { width: 100%; font-size: 0; }
.main-splash .image-container { width: 100%; height: 460px; overflow: hidden; white-space: nowrap; }
.main-splash .image-container .image { width: 100%; height: 100%; display: inline-block; background-size: cover; background-position: center; background-repeat: no-repeat; }
.main-splash .image-shadow { position: relative; width: 100%; height: 250px; margin-top: -250px; background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.53) 10%, rgba(0,0,0,0.61) 36%, rgba(0,0,0,0.63) 45%, rgba(0,0,0,0.69) 69%, rgba(0,0,0,1) 96%); background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.53) 10%,rgba(0,0,0,0.61) 36%,rgba(0,0,0,0.63) 45%,rgba(0,0,0,0.69) 69%,rgba(0,0,0,1) 96%); background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.53) 10%,rgba(0,0,0,0.61) 36%,rgba(0,0,0,0.63) 45%,rgba(0,0,0,0.69) 69%,rgba(0,0,0,1) 96%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); }
.main-splash .box-container { position: relative; width: 100%; height: 180px; margin-top: -180px; }
.main-splash .border-box { margin-right: 4%; width: 28%; height: 100%; float: right; display: block; text-align: center; white-space: nowrap; overflow: hidden; text-decoration: none; background: rgba(0,0,0,0.5); border-width: 1px; border-style: solid; border-color: #ececec; -moz-border-image: -moz-linear-gradient(top,#fff 0%,#000000 70%); -webkit-border-image: -webkit-linear-gradient(top,#fff 0%,#000000 70%); border-image: linear-gradient(to bottom,#fff 0%,#000000 70%); border-image-slice: 1; color: #fff; }
.main-splash .border-box .image { margin-top: 5px; }
.main-splash .border-box .title { margin-top: 5px; color: #fff; font-size: 26px; text-shadow: 2px 2px #000000; height: 34px; font-weight: 400; }
.main-splash .border-box .subtitle { margin-top: 7px; color: #fff; font-size: 14px; }
.main-splash .border-box:hover .title { font-size: 28px; font-weight: 500; }

.main-splash .splash-container { width: calc(85% - 20px); margin-right: 15px; margin-left: 5px; margin-top: 10px; }
.main-splash .thumb-container { width: calc(15% - 20px); margin-right: 5px; margin-left: 15px; margin-top: 10px; font-size: 16px; font-weight: 500; }
.main-splash .thumb-container a { display: block; text-align: center; padding-top: 30px; text-overflow: ellipsis; width: calc(100%); overflow: hidden; white-space: nowrap;  height: 150px; margin-bottom: 5px; color: #fff; text-decoration: none; }
.main-splash .thumb-container a:hover { background: #000; }

.main-games-box { text-align: center; width: calc(100% - 30px); margin: 15px; margin-top: 0px; margin-bottom: 10px; font-size: 18px; font-weight: 500; }
.main-games-box .game-link { float:right; display: block; width: 33%; margin-top: 5px; background: #1a1a1a; padding: 15px; text-align: center; color: #ffe93b; border-bottom: 10px solid #2f3041; text-decoration: none; }
.main-games-box .game-link:hover { background: #000; }
.main-games-box .game-middle { margin-right: 0.5%; margin-left: 0.5%; }
.main-games-box .game-link img { display: block; width: 100%; }
.main-games-box .game-link .game-link-title { margin-top: 10px; }
.main-games-box .game-link .game-link-sub { margin-top: 5px; font-weight: 300; font-size: 14px; color: #fff; }

.search-div { background: #474747; margin-top: 5px; padding: 8px; padding-top: 10px; }
.search-div span { font-size: 20px; color: #979797; }
.search-div .input { border: 0px; background: #474747; color: #979797; outline: none; margin-right: 10px; margin-left: 10px; width: calc(100% - 60px); font-size: 16px; }
.search-div .select { -webkit-appearance: none; }
.sports-div { width: 100%; height: 80px; background: #474747; margin-top: 5px; overflow-x: auto; overflow-y: hidden; white-space: nowrap; font-size: 0px; }
.sports-div .s-link { display: inline-block; text-decoration: none; text-align: center; margin-right: 5px; margin-top: 5px; background: #2d2d2d; width: 70px; height: 70px; font-size: 10px; }
.sports-div .s-active, .sports-div .s-link:hover { background: #151515; }
.sports-div .s-link .s-img { margin-top: 11px; }
.sports-div .s-link .s-name { color: #fff; width: 90%; margin: 5px 5%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.sports-div .s-link .s-count { margin-top: 5px; color: #ffe93b; }


.light { background: #2d2d2d !important; }
/*.dark { background: #2d2d2d !important; }*/

.page-content { width: 100%; min-height: 600px; color: #fff; text-align: center; }
.page-content .page-area { margin: 5px 0px 5px 0px; text-align: right; }
.page-content .page-area .page-title { text-align: right; color: #fff; background: #2f3041; padding: 10px; font-size: 18px; font-weight: 400; border-bottom: 1px solid #444; }


.static-menu { width: 250px; }
.static-menu .link-container { padding: 7px 10px 7px 10px; background: #474747; margin-top: 5px; margin-bottom: 20px; margin-left: 10px; }
.static-menu .link-container a { color: #fff; display: block; text-align:center; text-decoration: none; padding: 10px 0px 10px 0px; margin: 3px 0px 3px 0px; background: #2d2d2d; font-size: 14px; font-weight: 500; }
.static-menu .link-container a:hover, .static-menu .link-container .active { color: #fff; background: #2f3041; }
.static-menu .selector { width: 100%; font-size: 20px; }

.static-content { width: calc(100% - 260px); }
.static-content a { color: #fff; }

.form-container { background: #474747; border-top: 0px; }
.form-container .alert { display: none; margin-top: 0px; margin-bottom: 15px; background: #ffe93b; padding: 10px; color: #000; text-align: center; font-weight: 400; }
.form-container .form-title { font-weight: 300; font-size: 16px; margin: 8px 20px 8px 20px; color: #fff; }
.form-container .form-element { width: 400px; font-size: 14px; text-align: right; color: #ddd; }
.form-container .form-input { width: 100%; background: #2d2d2d; height: 32px; border: 1px solid #383838; color: #fff; padding: 6px 6px 6px 6px; }
.form-container .form-link { color: #82828e; text-decoration: none; font-size: 12px; }
.form-container .form-link:hover { color: #383838; }
.form-container .form-button { background: #2f3041; display: inline-block; color: #fff; padding: 7px 20px 7px 20px; text-decoration: none; font-weight: 400; }
.form-container .form-button:hover { color: #000; }
.form-container .red-button { background: #e74c3c !important; }
.form-container .form-loading { display: none; width: 43px; height: 30px; background: url(../images/loader.gif?) no-repeat; background-position: center; }

.right-bar { color: #fff; width: 300px; margin-left: 5px; }
.right-bar .title { display: block; text-decoration: none; text-align: right; color: #fff; background: #2f3041; padding: 10px; font-size: 14px; font-weight: 400; border-bottom: 1px solid #202a47; }
.right-bar .slip-container { width: 100%; background: #474747; padding-top: 0px; padding-bottom: 2px; color: #fff; font-weight: 400; }
.right-bar .slip-container .no-bet { text-align: center; padding: 10px 30px; line-height: 160%; font-size: 14px; }

.game-container { width: 100%; height: 700px; background: #17191f; overflow: hidden; }
.game-place { width: 100%; height: 700px; border: 0px; padding: 0px; margin: 0px; }

.event-container { width: calc(100% - 315px); margin: 0px 5px 0px 5px; }
.event-container .border { border-width: 1px; border-style: solid; border-color: #202a47; -moz-border-image: -moz-linear-gradient(top,#202a47 0%,#000 70%); -webkit-border-image: -webkit-linear-gradient(top,#202a47 0%,#000 70%); border-image: linear-gradient(to bottom,#202a47 0%,#000 70%); border-image-slice: 1; color: #000; }
.event-container .info { width: 100%; min-height: 150px; background-size: cover; background-position: center; }
.event-container .football { background-image: url(../images/courts/football.png); }
.event-container .other-sport { background-image: url(../images/courts/basketball.png); }
.event-container .title { width: 100%; color: #fff; text-align: center; font-weight: 400; padding: 10px 0px 10px 0px; font-size: 14px; }

.event-container .score-box { margin-right: 5px; width: 60px; height: 50px; line-height: 50px; border: 1px solid #111; color: #fff; font-size: 26px; font-weight: 500; }
.event-container .score-box .line-1 { position: relative; margin-top: -24px; height: 4px; border-top: 1px solid rgba(0,0,0,0.25); border-right: 1px solid #fff; border-left: 1px solid #fff; }
.event-container .score-box .line-2 { position: relative; margin-top: -7px; height: 4px; border-right: 1px solid #fff; border-left: 1px solid #fff; }

.event-container .football .card { display: inline-block; width: 12px; height: 18px; border: 1px solid #000; background: yellow; border-radius: 3px; }
.event-container .football .red { background: red !important; }
.event-container .football .team { padding: 10px; margin-right: 5px; width: calc(50% - 88px); height: 70px; border: 1px solid #383838; color: #fff; font-size: 20px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.event-container .football .score { width: 160px; }
.event-container .football .score-middle { width: 25px !important; }





.market-type .odd-container .passive-link { color: #888 !important; cursor: default !important; }
.market-type .odd-container .passive-link .odd-title { background: #6f6e6e !important; cursor: default !important; }
.market-type .odd-container .passive-link .odd-line { background: rgba(20,128,94,0.3) !important; color: #888 !important; }

.market-type .odd-container .passive-link-ev { color: #888 !important; cursor: default !important; }
.market-type .odd-container .passive-link-ev .odd-title { background: #6f6e6e !important; cursor: default !important; }
.market-type .odd-container .passive-link-ev .odd-line { background: rgba(20,128,94,0.3) !important; color: #888 !important; }

.market-type .odd-container .passive-link-ma { color: #888 !important; cursor: default !important; }
.market-type .odd-container .passive-link-ma .odd-title { background: #6f6e6e !important; cursor: default !important; }
.market-type .odd-container .passive-link-ma .odd-line { background: rgba(20,128,94,0.3) !important; color: #888 !important; }

.market-type .odd-container .passive { cursor: default !important; background: #222 !important; color: #222 !important; }
.market-type .odd-container .passive-ev { cursor: default !important; background: #222 !important; color: #222 !important; }
.market-type .odd-container .passive-ma { cursor: default !important; background: #222 !important; color: #222 !important; }
.market-type .odd-container .red-arrow { color: #FFA5A5 !important; padding-right: 3px; }
.market-type .odd-container .red-back { background: red !important; }
.market-type .odd-container .green-arrow { color: #A2F1A2 !important; padding-right: 3px; }
.market-type .odd-container .green-back { background: green !important; }

.market-type .odd-container .passive .red-arrow { color: #222 !important; }
.market-type .odd-container .passive .green-arrow { color: #222 !important; }

.market-type .odd-container .passive-ev .red-arrow { color: #222 !important; }
.market-type .odd-container .passive-ev .green-arrow { color: #222 !important; }

.market-type .odd-container .passive-ma .red-arrow { color: #222 !important; }
.market-type .odd-container .passive-ma .green-arrow { color: #222 !important; }

.market-type .odd-container .selected-odd .odd-rate { background: #000 !important; color: #fff !important; cursor: default !important; }
.market-type .odd-container .selected-odd .odd-title { color: #fff !important; background: #000 !important; cursor: default !important; }

.data-table { width: 100%; border-collapse: collapse; font-size: 14px; }
.data-table td, .data-table th { padding: 8px 5px; color: #fff; font-weight: 400; }
.data-table th { border-bottom: 1px solid #ccc; }
.data-table tbody tr:nth-child(odd) td { background: #2d2d2d; }
.data-table tbody tr:nth-child(even) td { background: #474747; }
.data-table a { text-decoration: none; color: #fff; }
.data-table a:hover { text-decoration: underline; }
.data-table .s-waiting { color: blue !important; }
.data-table .s-answered { color: green !important; }
.data-table .s-closed { color: #fff !important; }
.data-table .sub-row { background: #fff !important; padding: 0px; }
.data-table .active-row td { background: #2d2d2d !important; color: #fff !important; }

.data-sub-container { border-top: 4px solid #2d2d2d; border-bottom: 4px solid #2d2d2d; padding-top: 8px; padding-bottom: 8px; }
.data-sub-table { width: 100%; border-collapse: collapse; font-size: 12px; }
.data-sub-table td, .data-sub-table th { padding: 8px 5px; color: #2d2d2d; background: #fff !important; }
.data-sub-table th { border-bottom: 1px solid #ccc; }
.data-sub-table tbody  td { background: #e0e5f5; }
.data-sub-table .badge { background: green; padding: 0px 6px; border-radius: 4px; color: #fff; font-size: 10px; }

.pagination { margin-top: 15px; }
.pagination a { display: inline-block; min-width: 30px; text-align: center; font-size: 14px; font-weight: 500; text-decoration: none; margin: 3px; border: 1px solid #ccc; color: #fff; padding: 5px; }
.pagination a:hover, .pagination .active { background: #e0e5f5 !important; color: #000; }
.pagination .info { display: inline-block; font-size: 14px; font-weight: 500; margin: 0px 10px; }

.support-container .bubble { max-width: 80%; min-width: 30%; padding: 10px; border-radius: 10px; margin: 4px; color: #000; font-weight: 400; font-size: 14px; line-height: 160%; }
.support-container .user_bubble .icon { float: left; width: 45px; height: 45px; background: url(../images/member.png); }
.support-container .user_bubble .bubble { float: left; background: #9fd8a4; text-align: left; }
.support-container .user_bubble .time { clear: both; margin-left: 55px; text-align: left; font-size: 12px; color: #567558; }
.support-container .admin_bubble .icon { float: right; width: 45px; height: 45px; background: url(../images/agent.png); }
.support-container .admin_bubble .bubble { float: right; background: #e6e6e6; text-align: right; }
.support-container .admin_bubble .time { clear: both; margin-right: 55px; text-align: right; font-size: 12px; color: #a7a7a7; }

.slip-container .amounts { width: 100%; background: #666; color: #282828; font-weight: 500; padding: 10px 0px; text-align: center; line-height: 160%; }
.slip-container .buttons { width: 100%; padding: 15px 0px; background: #3d3d3d; color: #fff; text-align: center; }
.slip-container .buttons .checkbox { margin-bottom: 15px; font-size: 14px; }
.slip-container .buttons .slip-currency { font-size: 14px; color: #ffe93b; font-weight: 300; }
.slip-container .buttons .slip-currency-type { font-size: 14px; }
.slip-container .form-button { background: #2f3041; display: inline-block; color: #fff; padding: 7px 20px 7px 20px; text-decoration: none; font-weight: 400; }
.slip-container .form-button:hover { color: #000; }
.slip-container .red-button { background: #e74c3c !important; }
.slip-container .form-loading { display: none; width: 43px; height: 30px; background: url(../images/loader.gif?) no-repeat; background-position: center; }
.slip-container .slip-title { float: right; display: block; background: #3d3d3d; text-decoration: none; width: 50%; color: #c2c2c2; border-bottom: 2px solid #3d3d3d; text-align: center; font-weight: 300; font-size: 16px; padding: 6px 0px; padding-top: 10px; }
.slip-container .slip-active { color: #000 !important; background: #ffe93b; border-bottom: 2px solid #ffe93b !important; font-weight: 400; }
.slip-container .amount-input { width: 100%; background: #3d3d3d; padding: 10px 5px 1px 5px; }
.slip-container .amount-input .text { float: right; width: 50%; text-align: right; padding-left: 5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 14px; padding-top: 2px; }
.slip-container .amount-input .amount { float: left; width: 50%; }
.slip-container .amount-input .amount input { width: 100%; font-size: 14px; border: 1px solid #27585A; }
.slip-container .amount-input .total-rate { text-align: left; padding-left: 4px; margin-bottom: 4px; font-weight: 400; font-size: 12px; color: #ffe93b; }
.slip-container .slip-event { border-bottom: 1px dotted #383838; }
.slip-container .slip-remove { float: left; width: 30px; margin-top: 9px; text-align: left; padding-left: 9px; }
.slip-container .slip-remove a { text-decoration: none; color: #fff; }
.slip-container .slip-row { float: right; padding-right: 5px; font-weight: 400; font-size: 14px; width: 100%; margin-top: 9px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.slip-container .slip-first-row { width: calc(100% - 30px) !important; }
.slip-container .slip-market { color: #999 !important; }
.slip-container .slip-bet { width: calc(100% - 80px) !important; }
.slip-container .slip-bet-price { float: left; font-weight: 500; font-size: 14px; width: 80px; margin-top: 9px; text-align: left; padding-left: 9px; color: #999; }
.slip-container .event-amount { float: right; text-align: right; width: 50%; padding-right: 5px; margin-top: 9px; }
.slip-container .event-amount input { width: 90%; font-size: 14px; border: 1px solid #27585A; }
.slip-container .slip-event-won { float: left; text-align: left; padding-left: 5px; width: 50%; margin-top: 9px; font-size: 14px; padding-top: 3px; }
.slip-container .event-changed { display: none; position: relative; top: -57px; height: 0px; width: 300px; }
.slip-container .event-changed .background { background: rgba(0,0,0,0.8); width: 300px; height: 56px; }
.slip-container .event-changed .text { text-align: center; position: relative; top: 50%; right: 50%; transform: translate(-50%, -50%); color: #fff; font-size: 14px; font-weight: 300; }
.slip-container .end { clear: both; height: 10px; }

.splash-view { display: none; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background: rgba(0,0,0,0.8); z-index: 9999999; }
.splash-view .splash-container { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); min-width: 30%; background: #fff; border: 3px solid #000; }
.splash-view .splash-header { width: 100%; padding: 10px; background: #2f3041; color: #fff; font-weight: 400; }
.splash-view .splash-content { overflow: auto; padding: 10px; max-width: 600px; max-height: 400px; }

.account-page-photo { width: 100px; }
.account-page-container { margin-right: 25px; color: #ddd; }
.withdraw-description { background: #fff; margin: 15px; margin-bottom: 0px; padding: 10px; color: #000; }
.topup-success { background: #376937; color: #fff; font-weight: 400; margin-bottom: 25px; text-align: center; border-radius: 6px; }
.topup-fail { background: #823434; color: #fff; font-weight: 400; margin-bottom: 25px; text-align: center; border-radius: 6px; }

.verify-human { position: fixed; top: 50%; right: 50%; transform: translate(-50%, -50%); background: #fff; width: 400px; max-width: 95%; padding: 25px; border: 1px solid #383838; font-size: 20px; font-weight: 400; -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2); box-shadow: 0 1px 5px rgba(0,0,0,0.2); }
.verify-human .title { color: #25386f; }

@media screen and (min-width: 1001px) {

	.mobile { display: none; }

}

@media screen and (max-width: 1000px) {

	body { background: #2d2d2d; }

	.desktop { display: none; }

	.p15 { padding: 7px; }
	.p30 { padding: 10px; }
	.ts { text-shadow: 1px 1px #000; }
	.medium { font-weight: 300; }

	.main-splash .image-container { height: 200px; }
	.main-splash .box-container { height: 90px; margin-top: -90px; }
	.main-splash .thumb-container { display: none; }
	.main-splash .splash-container { width: 100%; margin-right: 0px; margin-left: 0px; margin-top: 0px; }

	.main-games-box { width: calc(100% - 10px); margin-right: 5px; margin-left: 5px; }
	.main-games-box .game-link { width: 100%; }
	.main-games-box .game-middle { margin-right: 0px; margin-left: 0px; }

	.event-container { width: 100%; margin: 0px; }

	.rear-bar-mobile { display: none; position: fixed; width: 100%; left: 0px; top: 50px; height: calc(100% - 50px); background: rgba(0,0,0,0.95); z-index: 999998; overflow: auto; }

	.form-container { width: calc(100% - 20px); }
	.form-container .form-title { width: 100%; margin: 8px 6px 8px 6px; }
	.form-container .form-element { width: 100%; }

	.game-place { position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; z-index: 999999; }

	.item-box, .item-2-box { width: calc(100% - 6px); margin-right: 3px; }

	.market-type .odd-container .odd-double { width: 100%; }
	.market-type .odd-container .odd-triple { width: 100%; }

	.event-type .title .text { width: calc(100% - 6px); }
	.event-type .title .odd-title { display: none; }

	.event-type .odd-container .event-title { font-size: 12px; padding: 0px 3px 0px 3px; width: calc(100% - 157px); background: inherit; }
	.event-type .odd-container .odd-rate { font-size: 12px; width: 50px; }
	.event-type .odd-container .event-time { border-radius: 2px; padding: 1px 2px 1px 2px; color: #fff; font-size: 10px; font-weight: 500; height: 16px; line-height: 16px; margin: 7px 6px 0px 6px; }
	.event-type .odd-container .odd-all { display: none; }

	.score-type .score-container { font-size: 12px; }
	.score-type .score-container .team { width: calc(50% - 30px); padding: 0px 4px 0px 4px; }
	.score-type .score-container .score { width: 30px; }
	.score-type .score-container .status { display: none; }
	.score-type .score-container .time { display: none; }

	.event-container .title { font-size: 12px; }
	.event-container .score-box { margin-right: 2px; width: 30px; height: 25px; line-height: 25px; font-size: 14px; font-weight: 400; }
	.event-container .score-box .line-1 { margin-top: -12px; border-top: 1px solid rgba(0,0,0,0.25); }
	.event-container .football .card { width: 8px; height: 12px; border-radius: 2px; }
	.event-container .football .team { padding: 4px; margin-right: 3px; width: calc(50% - 45px); height: 70px; font-size: 14px; }
	.event-container .football .score { width: 81px; }
	.event-container .football .score-middle { width: 15px !important; }
	.event-container .football .time { margin-right: 2px; margin-top: 2px; margin-bottom: 5px; width: 81px; font-weight: 300; font-size: 12px; }
	.event-container .football .time span { display: block; font-weight: 500; margin-top: 0px; line-height: 22px; }
	.event-container .others .wi-1 { width: calc(100% - 32px); }
	.event-container .others .wi-2 { width: calc(100% - 64px); }
	.event-container .others .wi-3 { width: calc(100% - 96px); }
	.event-container .others .wi-4 { width: calc(100% - 128px); }
	.event-container .others .wi-5 { width: calc(100% - 160px); }
	.event-container .others .wi-6 { width: calc(100% - 192px); }
	.event-container .others .wi-7 { width: calc(100% - 224px); }
	.event-container .others .wi-8 { width: calc(100% - 256px); }
	.event-container .others .team { height: 25px; line-height: 25px; font-weight: 400; font-size: 14px; padding: 0px 3px 0px 3px; }
	.event-container .others .time { padding: 0px 3px 0px 3px; line-height: 25px; font-weight: 400; font-size: 12px; color: #fff; }
	.event-container .others .score-head { margin-right: 2px; width: 30px; line-height: 25px; font-weight: 300; font-size: 10px; }

	.static-menu { width: calc(100% - 10px); display: block; margin-right: 10px; }
	.static-content { width: 100%; margin-top: -10px; }

	.data-table td, .data-table th { padding: 4px 0px; font-size: 12px; font-weight: 400 !important; }
	.data-sub-table td, .data-sub-table th { padding: 4px 0px; font-size: 12px; font-weight: 400 !important; }

	.support-container .user_bubble .time { margin-left: 10px; }
	.support-container .admin_bubble .time { margin-right: 10px; }
	
	.event-type .odd-container .odd-rate:hover { background: #2d2d2d; }

	.market-type .odd-container .odd-link:hover { color: #fff;  }
	.market-type .odd-container .odd-link:hover .odd-title { background: #6f6e6e; }
	.market-type .odd-container .odd-link:hover .odd-rate { background: #2d2d2d; }

	.mobile-overflow-x { overflow-x: auto !important; }
	.long-table-container { width: 800px !important; }

	.form-container .form-link:hover { color: #82828e; }
	.form-container .form-button:hover { color: #fff; }	

	.splash-view .splash-container { min-width: 90%; }

}









.mobile-bar { height: 50px; position: fixed; top: 0px; right: 0px; width: 100%; background: #2f3041; z-index: 999990; -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75); -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75); box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75); }
.mobile-bar .icon { float: right; width: 40px; text-align: center; margin-top: 10px; }
.mobile-bar .icon a { font-size: 24px; color: #ddd; text-decoration: none; }
.mobile-bar .logo { float: right; width: calc(100% - 160px); margin-top: 5px; }
.mobile-bar .badge { display: none; position: fixed; left: 3px; top: 3px; border-radius: 8px; min-width: 16px; height: 16px; line-height: 16px; font-size: 12px; font-weight: 400; background: red; color: #fff; }

.mobile-bar-holder { width: 100%; height: 50px; }
.mobile-footer-bar { position: fixed; right: 0px; bottom: 0px; height: 50px; width: 100%; background: #2f3041; z-index: 999990; -webkit-box-shadow: 0 0 0 2px rgba(0,0,0,0.75); -moz-box-shadow: 0 0 0 2px rgba(0,0,0,0.75); box-shadow: 0 0 0 2px rgba(0,0,0,0.75); font-size: 0px; }
.mobile-footer-bar a { width: 20%; display: inline-block; font-size: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: center; color: #ddd; text-decoration: none; font-weight: 400; padding-top: 32px; background-repeat: no-repeat; background-position: center 6px; }
 
.mobile-footer-bar .sport { background-image: url(../icons/top-bar/sport.png); }
.mobile-footer-bar .live { background-image: url(../icons/top-bar/live.png); }
.mobile-footer-bar .scores { background-image: url(../icons/top-bar/scores.png); }
.mobile-footer-bar .casino { background-image: url(../icons/top-bar/casino.png); }
.mobile-footer-bar .account { background-image: url(../icons/top-bar/account45.png); }

.mobile-footer-bar .active { color: #ffe93b !important; }

.mobile-menu { text-align: center; display: none; position: fixed; left: 0px; top: 50px; width: 100%; height: 100%; z-index: 999995; background: #2d2d2d; background1: rgba(0,0,0,0.95); overflow: auto; }
.mobile-menu .info { text-align: center; color: #ffe93b; margin-top: 25px; line-height: 150%; }
.mobile-menu .info .name { color: #fff; }
.mobile-menu .buttons { text-align: center; padding: 20px 0px; margin-top: 6px; }
.mobile-menu .buttons a { display: inline-block; color: #fff; text-decoration: none; font-size: 16px; font-weight: 400; border-radius: 4px; padding: 8px 25px; background: #2d2d2d; margin: 4px 4px; }
.mobile-menu .signup-button { background: #ffe93b !important; color: #000 !important; }
.mobile-menu .items { background: #474747; width: 100%; padding: 10px 30px 30px 30px; margin-bottom: 400px; }
.mobile-menu .items a { display: inline-block; margin-top: 10px; color: #fff; text-decoration: none; text-align: center; border-radius: 4px; padding: 8px 25px; background: #2d2d2d; font-weight: 400; }
.mobile-menu .language-box { display: none; margin-bottom: 10px; }
.mobile-menu .language-box a { display: block; color: #ffe93b; text-decoration: none; padding: 5px; text-align: center; }
