@font-face {
    font-family: 'BNazaninRegular';
    src: url('IRANSansWeb_Light.eot');
    src: url('IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),url('IRANSansWeb_Light.woff') format('woff'),url('IRANSansWeb_Light.ttf') format('truetype'),url('IRANSansWeb_Light.svg#BNazaninRegular') format('svg');
}